.list {
  display: flex;
  flex-direction: column;

  &__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    border-bottom: 1px solid #000;

    &--type2 {
      grid-template-columns: repeat(6, 1fr);
    }
    &--type3 {
      grid-template-columns: 1fr 10rem;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1rem;
    align-items: center;
    padding: 1rem;

    &--type2 {
      grid-template-columns: repeat(6, 1fr);
    }

    &--type3 {
      grid-template-columns: 1fr 10rem;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 1.8rem;
  }
  &__value {
    display: flex;
    align-items: center;
  }
}

.alter-bg {
  background-color: #c4c2c2;
}

.icon {
  width: 2rem;
  cursor: pointer;
}

.add-submit {
  margin-top: 2rem;

  border: 0;
  padding: 0.5rem 3rem;
  background: #be00e4;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}
