.list {
  display: flex;
  flex-direction: column;

  &__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    border-bottom: 1px solid #000;

    &--type2 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1rem;
    align-items: center;
    padding: 1rem;

    &--type2 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &__title {
    font-weight: 600;
    font-size: 1.8rem;
  }
  &__value {
    display: flex;
    align-items: center;
  }
}

.alter-bg {
  background-color: #c4c2c2;
}

.icon {
  width: 2rem;
  cursor: pointer;
}
